@tailwind base;
@tailwind components;
@tailwind utilities;

.chat-response {
  text-wrap: balance;
  background-color: #e8e8e8;
  overflow: hidden;
  margin: 17px;
  border-radius: 33px;
  padding: 20px;
}

.chat-response * {
    text-wrap: balance;
}


.rcb-chat-window{
    width: 90vw !important;
}